<!DOCTYPE html>
<html>
    <head>
        <title>Chat E2E</title> 
        <link rel="shortcut icon" href="/static/images/favicon.ico">
        <link rel="stylesheet" href="/static/css/toastr.min.css"/>
        <link rel="stylesheet" href="/static/css/bundle_v131.css">
        <link rel="stylesheet" href="/static/css/app_v131.css">
        <script src="/static/js/libs/axios.min.js"></script>
        <script src="/static/js/libs/jquery.min.js"></script>
        <script src="/static/js/libs/js.cookie.min.js"></script>
        <script src="/static/js/libs/toastr.min.js"></script>
        <link rel="stylesheet" href="/static/css/all.min.css"/>
    </head>
    <body>
        <!-- The content from any other page goes here -->
        {% block content %} {% endblock %}
        <script src="/static/js/bundle_v131.js"></script>
        <script src="/static/js/app_v131.js"></script>
        <script src="/static/js/common.js"></script>
    </body>
</html>